:root {
  --primary-color: hsl(0, 0%, 100%);
  --secondary-color: hsl(212, 45%, 89%);
  --moderate-violet: hsl(263, 55%, 52%);
  --very-dark-grayish-blue: hsl(217, 19%, 35%);
  --very-dark-blackish-blue: hsl(219, 29%, 14%);
  --light-gray: hsl(0, 0%, 81%);
  --light-grayish-blue: hsl(210, 46%, 95%);
  --border-image-color: hsl(264, 78%, 67%);
}
* {
  box-sizing: border-box;
}
body {
  font-family: "Barlow Semi Condensed", sans-serif;
  background: var(--light-grayish-blue);
  font-size: 13px;
}

.wrapper {
  min-height: 100vh;
}
#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 2.5em auto;
}

.comments {
  text-align: start;
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.review {
  color: var(--light-grayish-blue);
  border-radius: 0.7em;
  font-weight: 500;
  padding: 1.8em;
  box-shadow: 0 0.2em 1em 0.1em rgba(0, 0, 0, 0.2);
}

/* article 1 */
.review:first-child {
  background: url("../images/bg-pattern-quotation.svg") no-repeat;
  background-size: 7.5em;
  background-position-x: 93%;
  background-position-y: top;
  background-color: var(--moderate-violet);
  color: var(--light-gray);
}

/* article 2 */
.review:nth-child(2) {
  background-color: var(--very-dark-grayish-blue);
}

/* article 4 */
.review:nth-child(4) {
  background-color: var(--very-dark-blackish-blue);
}

/* article 3 and 5 */
.review:nth-child(3),
.review:nth-child(5) {
  background-color: var(--primary-color);
  color: var(--very-dark-grayish-blue);
}
/* review details*/
.review__author {
  display: flex;
  flex-wrap: nowrap;
}
.author__infos {
  line-height: 0.3em;
  text-align: start;
  font-size: 0.9em;
  margin-top: -0.6em;
}
/* images */
.author__image {
  max-width: 2.3em;
  border-radius: 5em;
  margin: 0em 1em 0em 0em;
}
.review:nth-child(1) .author__image,
.review:nth-child(4) .author__image {
  border: 0.2em solid var(--border-image-color);
}
/*review text*/
.author__name {
  font-weight: 600;
  opacity: 1;
}
.review__tag {
  opacity: 0.5;
  font-weight: 400;
}
.review__title {
  font-weight: 600;
  font-size: 1.4em;
  line-height: 1.3em;
  padding: 0.2em 0;
}

.review__paragraph {
  opacity: 0.7;
  font-weight: 400;
  font-size: 0.95em;
}

.review:nth-child(3) .review__paragraph,
.review:nth-child(5) .review__paragraph {
  color: var(--very-dark-grayish-blue);
}

/* Footer */

.attribution p {
  margin: 0.5em;
}
.attribution {
  color: var(--very-dark-grayish-blue);
  font-size: 1.2em;
  text-align: center;
}
.attribution a {
  color: var(--border-image-color);
}
.attribution a:hover {
  color: var(--moderate-violet);
}

/* media query for tablet */
@media screen and (min-width: 720px) and (max-width: 1439px) {
  .wrapper {
    font-size: 1em;
  }
  .comments {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .review:nth-child(1) {
    grid-area: 1 / 1 / 2 / 3;
  }
  .review:nth-child(2) {
    grid-area: 1 / 3 / 2 / 4;
  }

  .review:nth-child(3) {
    grid-area: 2 / 1 / 3 / 2;
  }
  .review:nth-child(4) {
    grid-area: 2 / 2 / 3 / 4;
  }
  .review:nth-child(5) {
    grid-area: 3 / 1 / 4 / 4;
  }
  .review__title {
    font-size: 1.5em;
  }
}

/* media query for desktop */
@media screen and (min-width: 1440px) {
  .wrapper {
    width: 80%;
  }
  .comments {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .review {
    padding: 3em;
  }
  .review:nth-child(1) {
    grid-area: 1 / 1 / 2 / 3;
  }
  .review:nth-child(2) {
    grid-area: 1 / 3 / 2 / 4;
  }

  .review:nth-child(3) {
    grid-area: 2 / 1 / 3 / 2;
  }
  .review:nth-child(4) {
    grid-area: 2 / 2 / 3 / 4;
  }
  .review:nth-child(5) {
    grid-area: 1 / 4 / 3 / 5;
  }
}
