@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@400;500;600;700;900&display=swap");
body {
  font-family: "Barlow Semi Condensed", sans-serif;
  background: hsl(212, 45%, 89%);
  font-size: 13px;
  box-sizing: border-box;
}

.main {
  width: 90%;
  margin: 3em auto;
}
.comments {
  text-align: start;
  display: flex;
  flex-direction: column;
  gap: 4em;
}
.review {
  color: hsl(210, 46%, 95%);
  border-radius: 1em;
  font-weight: 500;
  padding: 3em;
  box-shadow: 0 0.2em 1em 0.1em rgba(0, 0, 0, 0.2);
}

/* article 1 */
.review:nth-child(1) {
  background-color: hsl(263, 55%, 52%);
}
.review:nth-child(1) .review:nth-child(1) .author__image,
.review:nth-child(4) .author__image {
  border: 0.6em solid hsl(264, 78%, 67%);
}
/* article 2 */

.review:nth-child(2) {
  background-color: hsl(217, 19%, 35%);
}

/* article 4 */
.review:nth-child(4) {
  background-color: hsl(219, 29%, 14%);
}

/* article 3 and 5 */
.review:nth-child(3),
.review:nth-child(5) {
  background-color: hsl(0, 0%, 100%);
  color: hsl(217, 19%, 35%);
}

.review:nth-child(3) .review__paragraph,
.review:nth-child(5) .review__paragraph {
  color: hsl(217, 19%, 35%);
  font-weight: 400;
}

.author__infos {
  padding-left: 2em;
}
.author__image {
  width: calc(3em - 2em);
  min-width: 3em;
  border-radius: 3em;
  float: left;
  margin-right: 2em;
}
.review:nth-child(1) .review__details {
  background: url("../images/bg-pattern-quotation.svg") no-repeat right top 1em;
  background-size: 6em;
}
.author__name {
  font-size: 1.2em;
  font-weight: 600;
  opacity: 1;
  padding-bottom: 0.5em;
}
.review__tag {
  opacity: 0.5;
}
.review__title {
  float: none;
  font-weight: 600;
  font-size: 2.3em;
  line-height: 1em;
  padding: 1.5em 0;
  z-index: 5;
}

.review__paragraph {
  line-height: 2em;
  opacity: 0.7;
}
/* Footer */
.footer {
  margin-top: 2em;
}
.attribution p {
  margin: 0.5em;
}
.attribution {
  color: hsl(220, 15%, 55%);
  font-size: 1.5em;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
/* media query for tablet */

@media screen and (min-width: 600px) and (max-width: 1339px) {
  .main {
    /* width: 80%; */
    font-size: 1em;
  }
  .comments {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 2em;
  }
  .review {
    padding: 2em;
  }
  .review:nth-child(1) {
    grid-area: 1 / 1 / 2 / 3;
  }
  .review:nth-child(2) {
    grid-area: 1 / 3 / 2 / 4;
  }

  .review:nth-child(3) {
    grid-area: 2 / 1 / 3 / 2;
  }
  .review:nth-child(4) {
    grid-area: 2 / 2 / 3 / 4;
  }
  .review:nth-child(5) {
    grid-area: 3 / 1 / 4 / 4;
  }
  .review__title {
    /* line-height: 1.1em; */
    font-size: 1.5em;
  }
}
/* media query for desktop */

@media screen and (min-width: 1440px) {
  .main {
    width: 80%;
  }
  .comments {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1em;
  }
  .review:nth-child(1) {
    grid-area: 1 / 1 / 2 / 3;
  }
  .review:nth-child(2) {
    grid-area: 1 / 3 / 2 / 4;
  }

  .review:nth-child(3) {
    grid-area: 2 / 1 / 3 / 2;
  }
  .review:nth-child(4) {
    grid-area: 2 / 2 / 3 / 4;
  }
  .review:nth-child(5) {
    grid-area: 1 / 4 / 3 / 5;
  }
  .review__title {
    line-height: 1.1em;
    font-size: 1.5em;
  }
}
